<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="cgi-bin/static/custom.css">

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="/cgi-bin/static/logo.png">
    <title>Группы для обучения!</title>
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="http://webprog4x27.trudogolik.ru">
        <img src="/cgi-bin/static/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Nick's Logo">
        <span>Главная</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/cgi-bin/balandov_dsp.pl?cl=BalandovGroup&event=show_list">Группы </a>
          </li>
          <li class="nav-item">
            <a href="/cgi-bin/balandov_dsp.pl?cl=BalandovUser&event=show_list">Участники </a>
          </li>
          <li class="nav-item">
            <a href="/cgi-bin/balandov_dsp.pl?cl=BalandovHomework&event=show_list">Домашние задания </a>
          </li>
          <li class="nav-item">
            <a href="/cgi-bin/balandov_dsp.pl?cl=BalandovEvaluation&event=show_list">Оценки </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>