<TMPL_INCLUDE NAME="header.tmpl">

<div class="row justify-content-center mt-5">
  <div class="col-md-5">
      <h3>Домашние задания</h3>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-md-10">

    <table class="table table-borderless table-hover caption-top">
      <caption><h3>Список заданий</h3></caption>
      <thead class="table-light">
        <tr>
          <th>Номер задания</th>
          <th>Название</th>
          <th>Описание</th>
          <th>Максимальный балл</th>
          <th>Дедлайн</th>
          <th>Удалить</th>
        </tr>
      </thead>
      <tbody>
        <TMPL_LOOP NAME=HOMEWORK_LIST>
        <tr>
          <td><TMPL_VAR NAME=NUMBER></td>
          <td><TMPL_VAR NAME=TITLE></td>
          <td><TMPL_VAR NAME=DESCRIPTION></td>
          <td><TMPL_VAR NAME=MAX_SCORE></td>
          <td><TMPL_VAR NAME=DEADLINE></td>
          <td><a class="btn btn-danger" href="/cgi-bin/balandov_dsp.pl?cl=BalandovHomework&event=del&number=<TMPL_VAR NAME=NUMBER>" role="button">Удалить</a></td>
        </tr>
        </TMPL_LOOP>
      </tbody>
    </table>

  </div>
</div>

<hr>

<div class="row justify-content-center mt-5">
  <div class="col-md-5">
      <h3>Добавить задание</h3>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <TMPL_IF MESSAGE>
    <div class="alert alert-danger" role="alert">
        <TMPL_VAR NAME=MESSAGE>
    </div>
    </TMPL_IF>
  <form action="/cgi-bin/balandov_dsp.pl" method="post">
    <p><input type="hidden" name="cl" value="BalandovHomework"></p>
    <p><input type="hidden" name="event" value="add"></p>
    <div class="mb-3">
      <label for="title">Номер задания</label>
      <input name="number" class="form-control" id="title" placeholder="Номер задания">
    </div>
    <div class="mb-3">
      <label for="title">Название</label>
      <input name="title" class="form-control" id="title" placeholder="Название задания">
    </div>
    <div class="mb-3">
      <label for="title">Описание</label>
      <textarea name="description" class="form-control" id="title" placeholder="Описание задания"></textarea>
    </div>
    <div class="mb-3">
      <label for="title">Максимальный балл</label>
      <input type="number" name="max_score" class="form-control" id="title" placeholder="Максимальный возможный балл">
    </div>
    <div class="mb-3">
      <label for="title">Срок сдачи</label>
      <input type="datetime-local" name="deadline" class="form-control" id="title" placeholder="Крайний срок сдачи">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
  </form>
    </div>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">